/*Custom CSS*/

body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-align: center;
}

.container {
    margin-top: 20px;
}

.table-responsive {
    padding-top: 10px;
}

.table-responsive thead {
    background-color: #444;
    color: #f7f7f7;
}
